<!DOCTYPE html>
<html lang="en">
<head>
    <title>推送消息</title>
</head>
<body>
<label th:text="'service url：' + ${pushServerConfig.url}"></label>
<br/>
<input type="text" id="serviceUrl" th:value="${pushServerConfig.url}"/>
<input type="text" id="env" th:value="${pushServerConfig.env}"/>
<input type="hidden" id="appId" th:value="${pushServerConfig.appId}"/>
<input type="hidden" id="appKey" th:value="${pushServerConfig.appKey}"/>
<input type="button" onclick="init()" value="连接" />
<br/>

<script type="text/javascript" th:src="@{/js/webchat.js}"></script>
</body>
</html>
